<div>
  <br>

<!--  @for (product of products; track product.id) {
    <a
      [routerLink]="[
        '/products',
        product.category,
        product.id
      ]">
      {{ product.name }}
    </a>
    <br>
  }
  -->
  @if (product) {
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Precio : {{ product.price }}</h6>
        <p class="card-text">Stock: {{ product.stock }}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  }
  @else {
    <p>Producto no encontrado</p>
  }
  <br>
  <button class="btn btn-primary" type="button" routerLink="/">
    Back to Home
  </button>
</div>
